* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
    background-color: orangered;
    margin: 0 auto;
    margin-top: 40px;

    /* border: white style color; */
    /* border: 10px groove #333; */
    border-width: 10px 15px 20px 25px;
    border-style: groove;
    /* border-color: aqua #333 yellow lime; */
}

/* https://developer.mozilla.org/es/docs/Web/CSS/border-style */